---
interface FormField {
    label: string;
    type: "text" | "number" | "email" | "tel" | "url";
    placeholder: string;
}

const formFields: FormField[] = [
    { label: "Dirección", type: "text", placeholder: "CARRERA 43b#43-45" },
    { label: "Municipio", type: "text", placeholder: "ANTIOQUÍA" },
    { label: "Ciudad", type: "text", placeholder: "MEDELLÍN" },
    { label: "Código Zip", type: "text", placeholder: "05007" },
    { label: "Baños", type: "number", placeholder: "6" },
    { label: "Habitaciones", type: "number", placeholder: "6" },
    { label: "Metros cuadrados", type: "number", placeholder: "200" },
    { label: "Tamaño del lote", type: "number", placeholder: "400" },
    { label: "Año de construcción", type: "number", placeholder: "2024" },
    { label: "Categoría", type: "text", placeholder: "FAMILIAR" },
];
---

<form action="submit">
    <h2>Anuncia tu propiedad</h2>
    <p class="description">
        Ingresa los detalles a continuación para averiguar el valor de tu
        propiedad.
    </p>
    <div class="form-grid">
        {
            formFields.map((field) => (
                <div class="form-field">
                    <label for={field.label}>{field.label}</label>
                    <input
                        type={field.type}
                        id={field.label}
                        name={field.label}
                        placeholder={field.placeholder}
                        required
                    />
                </div>
            ))
        }
    </div>
    <button type="submit" class="btn-form">Consultar</button>
</form>

<style>
    h2 {
        font-size: 15px;
        color: white;
        text-transform: uppercase;
    }
    .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-top: 40px;
    }
    .form-field {
        display: flex;
        flex-direction: column;
    }

    label {
        text-align: start;
        font-size: 11px;
        text-transform: uppercase;
        margin-bottom: 4px;
    }

    input {
        height: 30px;
        padding: 0 5px;
        background: #cccaca;
        border: none;
        border-radius: 4px;
    }

    .description {
        font-style: italic;
        font-size: x-small;
        margin-top: 20px;
    }

    .btn-form {
        margin-top: 20px;
        padding: 8px 16px;
        background-color: #ff5722;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 12px;
        text-transform: uppercase;
        align-self: center;
    }

    .btn-form:hover {
        opacity: 0.8;
    }
    form {
        border: 1px solid white;
        padding: 10px;
        height: 500px;
    }
    p {
        color: white;
    }
</style>
